.hero-section img{
    max-height: 390px;
    margin-top: -40px;
    width: 100%;
    object-fit: cover;
    /* height: 250px; */   
}

#hero-1{
  background-image: url("../assets/s0.jpg");
}


.search-container-heading{
  padding-top: 150px;
  display: flex;
  width:100%;
  max-width: 100%;
  align-items: center;
  margin-left: auto;
  text-align: center;
  justify-content: center;

  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-direction: reverse; 
}


.search-container {
  display: flex;
  width:100%;
  margin: 20px;
  padding: 20px;
  align-items: center;
  white-space: nowrap;
  padding-bottom: 200px;
}

.search-container input[type="text"] {
  padding-left: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 6px;
  margin-left: 3%;
  width: 100%;
  max-width:90%;
}

.search-container button {
  padding: 6px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #45a049;
}


.search-container-heading{
  color: #FFFFFF;
  font-size: 40px;
}


.search-bar-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



.nav-item{
    font-size: 14px;
  }


.btn{
    font-size: 14px;
}  

.hero-section{
    background-size: cover;
    background-position: center ;
    color: #333333;
    background-color: #000000;
}

.dropdown-header{
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: left;
  text-indent: 0px;
}
.dropdown-item{
  size: 20px;
}

body{
  margin: 0;
  padding: 0;
}

.nav-item .nav-link{
  color: #000000;
}

/*Navbar*/
.navbar{
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
}

.navbar-nav{
  color: #000000;
}